# Importing Data in Python (Part 1)

<font size="3"> 

- Quick recap   
    - List, Dictionaries, Libraries, Subsetting, loc, iloc, Dataframe   
    - Sorting rows, Subsetting rows by categorical variables, Adding new columns   
    - Aggregating Data   
        - Mean and median, Cumulative statistics,Dropping duplicates
        - Counting categorical variables, Calculations with .groupby()
    - Visualizing Dataframes
- Using pandas to import flat files as DataFrames 
  - Grammatical verbs
- Q&A
    
    
</font>

In [1]:
#Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# https://www.gapminder.org/about/

gapminder = pd.read_csv("data/gapminder.csv", index_col=0)

gapminder

                 country  year  population      cont  life_exp       gdp_cap
11           Afghanistan  2007  31889923.0      Asia    43.828    974.580338
23               Albania  2007   3600523.0    Europe    76.423   5937.029526
35               Algeria  2007  33333216.0    Africa    72.301   6223.367465
47                Angola  2007  12420476.0    Africa    42.731   4797.231267
59             Argentina  2007  40301927.0  Americas    75.320  12779.379640
...                  ...   ...         ...       ...       ...           ...
1655             Vietnam  2007  85262356.0      Asia    74.249   2441.576404
1667  West Bank and Gaza  2007   4018332.0      Asia    73.422   3025.349798
1679         Yemen, Rep.  2007  22211743.0      Asia    62.698   2280.769906
1691              Zambia  2007  11746035.0    Africa    42.384   1271.211593
1703            Zimbabwe  2007  12311143.0    Africa    43.487    469.709298

[142 rows x 6 columns]

In [ ]:
gapminder.info()

## Introduction and flat files

In [ ]:
# Open a file: file
file = open('data/hotdogs.txt', mode='r')

# https://docs.python.org/3/library/functions.html

# https://docs.python.org/3/library/functions.html#open

# Print it
print(file.read())

In [ ]:
# Close file
file.close()

# Check whether file is closed
print(file.closed)

## Importing entire text files

In [ ]:
# Open a file: file
file = open('data/moby_dick.txt', mode='r')

# Print it
print(file.read())

In [ ]:
# Close file
file.close()

# Check whether file is closed
print(file.closed)

In [ ]:
# Read & print the first 3 lines
with open('data/moby_dick.txt') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())
    print(file.readline())

## Importing different datatypes
The file seaslug.txt

- has a text header, consisting of strings   
- is tab-delimited.   

These data consists of percentage of sea slug larvae that had metamorphosed in a given time period. <http://www.stat.ucla.edu/~rgould/datasets/aboutseaslugs.html>

Due to the header, if you tried to import it as-is using np.loadtxt(), Python would throw you a ValueError and tell you that it could not convert string to float. There are two ways to deal with this: firstly, you can set the data type argument dtype equal to str (for string).

Alternatively, you can skip the first row as we have seen before, using the skiprows argument.

In [ ]:
# Assign filename: file
file = 'data/seaslug.txt'

#https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html 

# Import file: data
data = np.loadtxt(file, delimiter='\t', dtype=str)

# Print the first element of data
print(data[0:3])

In [ ]:
# Import data as floats and skip the first row: data_float
data_float = np.loadtxt(file, delimiter='\t', 
                        dtype=float, 
                        skiprows=1)

# https://numpy.org/doc/1.20/reference/generated/numpy.loadtxt.html

# Print the 10th element of data_float
print(data_float[0:3])

## Using pandas to import flat files as DataFrames (1)
 
 The DataFrame object in pandas is a more appropriate structure in which to store such data and, thankfully, we can easily import files of mixed data types as DataFrames using the pandas functions **read_csv()** and **read_table()**.

In [ ]:
# Import pandas
import pandas as pd

# Assign the filename: file
file = 'data/titanic.csv'

# Read the file into a DataFrame: df
df = pd.read_csv(file)

# View the head of the DataFrame
df.head()

## Customizing your pandas import
The pandas package is also great at dealing with many of the issues you will encounter when importing data as a data scientist, such as comments occurring in flat files, empty lines and missing values. Note that missing values are also commonly referred to as NA or NaN. 

We are now going to import a slightly corrupted copy of the Titanic dataset titanic_corrupt.txt, which

- contains comments after the character '#'   

- is tab-delimited.

In [ ]:
# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Assign filename: file
file = 'data/titanic_corrupt.txt'

# Import file: data
data = pd.read_csv(file, 
                   sep='\t', 
                   comment='#', 
                   na_values=['Nothing'])

# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

data.head()

## Listing sheets in Excel files

In [ ]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'data/urbanpop.xlsx'

# Load spreadsheet: xl
xl = pd.ExcelFile(file)

# https://pandas.pydata.org/docs/reference/api/pandas.ExcelFile.parse.html

# Print sheet names
print(xl.sheet_names)

### Importing sheets from Excel files

In [ ]:
# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('1960-1966')

# https://pandas.pydata.org/pandas-docs/version/0.16.2/generated/pandas.ExcelFile.parse.html

# Print the head of the DataFrame df1
df1.head()

In [ ]:
# Load a sheet into a DataFrame by index: df2
df2 = xl.parse(1)

# Print the head of the DataFrame df2
df2.head()

### Customizing your spreadsheet import

Here, you'll parse your spreadsheets and use additional arguments to skip rows, rename columns and select only particular columns.

In [ ]:
# Assign spreadsheet filename: file
file = 'data/battledeath.xlsx'

# Load spreadsheet: xl
xl = pd.ExcelFile(file)

# Print sheet names
print(xl.sheet_names)

In [ ]:
# Parse the first sheet and rename the columns: df1
df1 = xl.parse(0, skiprows=[0], names=['Country', 'Age (2002)'])

# Print the head of the DataFrame df1
df1.head()

In [ ]:
# Parse the first column of the second sheet and rename the column: df2
df2 = xl.parse(1, parse_cols=[0], skiprows=[0], names=['Country', 'Age (2004)'])

# Print the head of the DataFrame df2
df2.head()

### read_excel

- Supports xls, xlsx, xlsm, xlsb, odf, ods and odt file extensions read from a local filesystem or URL. 

- Supports an option to read a single sheet or a list of sheets.

In [ ]:
df1 = pd.read_excel('data/urbanpop.xlsx')

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

df1.head()

In [ ]:
df1 = pd.read_excel(
    open('data/urbanpop.xlsx', 'rb'),
              sheet_name='1967-1974')  

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

df1 .head()

In [ ]:
# Skipping range of rows 

df1 = pd.read_excel("data/urbanpop.xlsx",
                   sheet_name = "1975-2011",
                   skiprows = range(1, 5))

df1.head()

### JavaScript Object Notation (JSON)

In [ ]:
df_from_json = pd.read_json("data/stocks.json")

# https://pandas.pydata.org/docs/reference/api/pandas.read_json.html

df_from_json.head()

In [ ]:
df_from_json.info()

In [ ]:
#gapminder.info()

## Importing data from the Internet

In [ ]:
# Import package
from urllib.request import urlretrieve

# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V5/main/data/winequality-red.csv'

# Save file locally
urlretrieve(url, 'winequality-red.csv')

# Read file into a DataFrame and print its head
df = pd.read_csv('winequality-red.csv', sep=';')

df.head()

### Opening and reading flat files from the web

In [ ]:
# Import packages
import matplotlib.pyplot as plt
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V5/main/data/winequality-red.csv'

# Read file into a DataFrame: df
df = pd.read_csv(url, sep=';')

# Print the head of the DataFrame
df.head()

### Importing non-flat files from the web

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V5/main/data/latitude.xls'

# Read in all sheets of Excel file: xl
xl = pd.read_excel(url, sheet_name=None)

# Print the sheetnames 
print(xl.keys())

# Print the head of the first sheet (using its name, NOT its index)
print(xl['1700'].head())

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V5/main/data/urbanpop.xlsx'

# Read in all sheets of Excel file: xl
xl = pd.read_excel(url, sheet_name="1960-1966")

# Print the head of the first sheet 
xl.head()

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'https://raw.githubusercontent.com/iacenter/CienciaDatos_Python_V5/main/data/stocks.json'

# Read in all sheets of Excel file: xl
df_from_json = pd.read_json(url)

df_from_json.head()

### Importing SAS files

- <https://www.sas.com/en_us/home.html>

- <https://documentation.sas.com/doc/en/pgmsascdc/9.4_3.5/hostwin/n0sk6o15955yoen19n9ghdziqw1u.htm#p0sgui0b1o9nljn1crwkx9k7yr4w>

In [ ]:
# !pip install sas7bdat

# Import sas7bdat package
from sas7bdat import SAS7BDAT

# Save file to a DataFrame: df_sas
with SAS7BDAT('data/sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame
df_sas.head()

### Importing Stata files

<https://www.stata.com/>

In [ ]:
# Import pandas
import pandas as pd

# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('data/disarea.dta')

# Print the head of the DataFrame df
df.head()

In [ ]:
df.info()

### Loading MatLab (.mat) files

<https://www.mathworks.com/products/matlab.html>

In [ ]:
# Import package
import scipy.io

# Load MATLAB file: mat
mat = scipy.io.loadmat('data/albeck_gene_expression.mat')
#mat = scipy.io.loadmat('data/ja_data2.mat')

# Print the datatype type of mat
print(type(mat))

In [ ]:
# Print the keys of the MATLAB dictionary
mat.keys()

In [ ]:
# Print the type of the value corresponding to the key 'CYratioCyt'
print(type(mat['CYratioCyt']))

In [ ]:
# Print the shape of the value corresponding to the key 'CYratioCyt'
print(np.shape(mat['CYratioCyt']))

In [ ]:

# Subset the array and plot it
data = mat['CYratioCyt'][25, 5:]

data

### Using h5py to import HDF5 files

<https://www.hdfgroup.org/solutions/hdf5/>

In [ ]:
# Import packages
import numpy as np
import h5py

# Assign filename: file
file = 'data/L-L1_LOSC_4_V1-1126259446-32.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Print the datatype of the loaded file
type(data)

In [ ]:
# Print the keys of the file
for key in data.keys():
    print(key)